:host{
    display: block;
    width: fit-content;
    padding: 0px;
}
.label-container {
    padding: 0px;
    
}
.caption {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #333;
}
