:host {
    --svg-width: 24px;
    --svg-height: 24px;
    --svg-fill: grey;
    --animation-duration: 500ms;
    --icon-rotation: 0deg;
}

.icon-container {
    display: grid;
    place-items: center;
}

.svg-container {
    display: grid;
    place-items: center;
    transform: rotate(var(--icon-rotation));
}

.svg-container:not(.hidden,.hiding) > svg {
    animation: show-animation var(--animation-duration) forwards;
}

.svg-container.hiding > svg {
    animation: hiding-animation var(--animation-duration) forwards;
}

@keyframes show-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes hiding-animation {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

