.checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox.disabled .checkmark {
    background-color: #e6e6e6;
    cursor: not-allowed;
}

.checkbox.hover .checkmark {
    background-color: #ddd;
}

.checkbox.focus .checkmark {
    box-shadow: 0 0 3px 2px #2196F3;
}

.checkbox.pressed .checkmark {
    background-color: #bbb;
}