
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
    background-color: #f4f4f4;
    padding: 5px;
}
:host {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: var(--background-color, #f9f9f9);
}

.radio-container {
    display: table-column;
    align-items: row; 
    margin: 4px;
    border: 2px solid rgba(0, 0, 0, 0.233);
    padding: 3px;
    padding-right: 15px;
    border-radius: 4px;
    background-color: #a2cab6;
}

.radio-svg {
    display: table-column; 
    align-items: center; 
    margin-right: 0px; 
    cursor: pointer;
}

.radio-label {
    font-size: 16px;
    margin-left: 0; 
}

.radio-input {
    display: none;
}

.radio-input:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.hidden {
    display: none;
}

.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: var(--gap, 10px);
    padding: 5px;
    width: max-content;
    background-color: var(--background-color, #e0e0e0);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0;
    background-color: #f4f4f4;
}



/* Hover para el contenedor */
.radio-group-container:hover {
    background-color: #ececec;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Contenedor de cada radio */
.radio-container {
    display: flex;
    align-items: center;
    background-color: rgba(238, 231, 232, 0.726);
    border: 2px solid rgba(0, 0, 255, 0);
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    width: auto; /* El ancho será dinámico, ajustado a los elementos */
    max-width: 20%; /* Máximo 80% del ancho de la ventana */
    min-width: 200px; /* Ancho mínimo de 200px */
    box-sizing: border-box;
}

/* Hover para el contenedor del radio */
.radio-container:hover {
    background-color: rgba(202, 194, 195, 0.685);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

/* Contenedor individual de cada item */
.item-container {
    display: table-column;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.item-container:hover {
    background-color: #ffffff;
}


/* Cambiar fondo al pasar el ratón sobre el radio */
.item-container:hover {
    background-color: rgb(235, 214, 217); 
    width: 150px;
}


/* Texto de la etiqueta */
.radio-label {
    font-size: 16px;
    margin-left: 10px;
}
