:host {
    display: inline-block;
    box-sizing: border-box;

    --sirius-checkbox--container-padding: 5px 0px;
    --sirius-checkbox--container-gap: 5px;
    --sirius-checkbox--container-background-color: transparent;
    --sirius-checkbox--order: -1;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    background-color: var(--sirius-checkbox--container-background-color);
    padding: var(--sirius-checkbox--container-padding);
    gap: var(--sirius-checkbox--container-gap);
}

.icon-container {
    display: grid;
    place-items: center;
    order: var(--sirius-checkbox--order);
}

.main-element {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.label-container {
    order: 0
}

.label {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
}

.main-element:hover {
    cursor: pointer;
}