* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul.tree {
    width: 180px;
    margin: 0 auto;
    padding-top: 48px;
}

ul li {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

/* Ajuste de color y propiedades de las líneas para evitar que se oscurezcan */
li::before,
li::after {
    content: '';
    position: absolute;
    left: -28px;
    background-color: #979797; /* Color de las líneas */
}

li::before {
    height: 1px;
    width: 16px;
    top: 12px;
    
}

li::after {
    height: 26px;
    width: 1px;
    top: -14px;
}

li.parent::after {
    height: 100%;
    top: 12px;
}

li.parent:last-child::after {
    content: none;
}

/* Estilos de los elementos <details> para el árbol */
details {
    margin: 0 auto;
    max-height: 18px;
    transition: max-height 1s linear;
}

details[open] {
    max-height: 1000px;
}

summary {
    display: block;
    position: relative;
    cursor: pointer;
}

/* Botón de expansión/contracción */
summary::before {
    content: '+';
    position: absolute;
    height: 18px;
    width: 18px;
    top: 0;
    left: -22px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    background-color: blueviolet;
    border-radius: 9px;
}

details[open] > summary::before {
    content: '-';
    background-color: #4b7bec;
}

details > ul {
    padding: 15px;
}

ul li::before,
ul li::after {
    background-color: #979797; 
}

sirius-checkbox{
    display: inline-block;
}
