:host {
    display: inline-block;
    box-sizing: border-box;

    --sirius-icon--width: 24px;
    --sirius-icon--height: 24px;
}

.icon-container {
    display: grid;
    place-items: center;
    width: var(--sirius-icon--width);
    height: var(--sirius-icon--height);
}

.main-element {
    padding: 5px;
}