:host {
    display: inline-block;
    --combobox-width: 250px;
    --combobox-border-color: #aaa;
    --combobox-background: #ffffff;
    --combobox-text-color: #444;
    --combobox-option-hover: #e6f7ff;
    --combobox-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --combobox-border-radius: 8px;
}

.combobox-container {
    position: relative;
    width: var(--combobox-width);
    font-family: 'Arial', sans-serif;
}

.combobox-placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--combobox-border-color);
    border-radius: var(--combobox-border-radius);
    background-color: var(--combobox-background);
    color: var(--combobox-text-color);
    cursor: pointer;
    box-shadow: var(--combobox-shadow);
    transition: box-shadow 0.3s, background-color 0.3s;
}

.combobox-placeholder:hover {
    background-color: var(--combobox-option-hover);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.combobox-icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.combobox-icon[rotation="180"] {
    transform: rotate(180deg);
}

.combobox-placeholder.expanded::after {
    transform: rotate(-180deg);
}

.combobox-options {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: var(--combobox-background);
    border: 1px solid var(--combobox-border-color);
    border-radius: var(--combobox-border-radius);
    box-shadow: var(--combobox-shadow);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.combobox-options:not(.hidden) {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.combobox-option {
    padding: 12px;
    cursor: pointer;
    color: var(--combobox-text-color);
    transition: background-color 0.2s;
}

.combobox-option:hover {
    background-color: var(--combobox-option-hover);
}

.hidden {
    display: none;
}
