:host {
    display: block;
    width: fit-content;
    padding: 0;
}

.label-container {
    padding: 0;
}

.caption-container {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #333;
}
