:host {
    display: inline-block;
    box-sizing: border-box;

    --padding: 5px;
    --gap: 5px;
    --background-color: transparent;
    --checkbox-order: -1;
    --checkbox-background-color: transparent;
    --checkbox-border-color: black;
    --checkbox-border-line-style: solid;
    --checkbox-border-radius: 4px;
    --checkbox-border-width: 2px;
    --checkbox-icon-padding: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    background-color: var(--background-color);
    padding: var(--padding);
    gap: var(--gap);
}

.icon-container {
    display: grid;
    place-items: center;
    order: var(--checkbox-order);
    background-color: var(--checkbox-background-color);
    border: var(--checkbox-border-width) var(--checkbox-border-line-style) var(--checkbox-border-color);
    border-radius: var(--checkbox-border-radius);
    padding: var(--checkbox-icon-padding);
    cursor: pointer;
}

.label-container {
    display: grid;
    align-items: center;
    justify-items: start;
    order:0
}