:host {
    display: inline-block;
    box-sizing: border-box;

    --width: 24px;
    --height: 24px;
    --fill: grey;
    --rotation: 0deg;
    --animation-duration: 500ms;
}

.svg-container {
    display: grid;
    place-items: center;
    width: var(--width);
    height: var(--height);
    fill: var(--fill);
    transform: rotate(var(--rotation));
}

.svg-container:not(.hidden,.hiding) > svg {
    animation: show-animation var(--animation-duration) forwards;
}

.svg-container.hiding > svg {
    animation: hiding-animation var(--animation-duration) forwards;
}

@keyframes show-animation {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes hiding-animation {
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0;
        opacity: 0;
    }
}

