:host {
    display: inline-block;
    box-sizing: border-box;

    --text-align: justify;
    --background-color: transparent;
    --color: black;
    --font-family: 'Arial';
    --font-size: 1rem;
    --padding: 0;
}

.label-container {
    height: fit-content;
    background-color: var(--background-color);
}

.caption-container {
    overflow-wrap: break-word;
    text-align: var(--text-align);
    padding: var(--padding);
    font-size: var(--font-size);
    font-family: var(--font-family), sans-serif;
    color: var(--color);
}
