body{
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: rgb(113, 128, 212);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0px;
}

canvas{
    background-color: #fff;
}