.AtomDialog{
    display : grid;
    background-color:white;
    border-style:solid;
    border-color:rgba(100,100,100,0.5);
    border-width:1px;
    width:500px;
    height:400px;
    border-radius : 1em;
    box-shadow : 4px 4px 5px -2px rgba(33,33,33,0.5);
    grid-template-rows:0.05fr 0.15fr 0.8fr 0.1fr;
    overflow : hidden;
    resize:both;
    gap:2px;

    animation-name: show;
    animation-duration: 2s; 
    animation-delay: 0s;
    animation-fill-mode: both;


    /*  animation-timing-function: ease-out;  */
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    /* animation-play-state: running;  */
}

.CloseButton{
    display:flex;
    font-size : 17px;
    color: black;
    font-family : Trebuchet MS;
    font-weight: bold;
    align-items : center;
    justify-content:center;
    padding : 3px;
    border-width : 0px;
}
.CloseButton:hover{
    cursor : pointer;
}
.DivCloseButton{
    display:flex;
    align-items : right;
    justify-content:right;
    width:100%;
    height:100%;
    /* overflow : hidden; */
    border-width : 0px;
}
.Title{
    display:flex;
    height : 100%;
    width : 100%;
    align-items:top;
    justify-content:center;
    font-family : Trebuchet MS;
    font-size : 20px;
    color : black;
    padding-bottom:5px;
    background-color : rgba(0,0,0,0);
    border-width : 0px;
}
.BodyDialog{
    display : grid;
    height : 100%;
    background-color : rgba(0,0,0,0);
    border-width : 0px;
}
.row{
    display : flex;
    background-color : rgba(0,0,0,0);;
    border-width : 0px;
    width : 100%;
    position : relative;
}
.Footer{
    display : flex;
    height:100%;
    background-color : rgba(0,0,0,0);
    border-width : 0px;
}
@keyframes show {
    from {
        opacity : 0%;
    }

    to {
        opacity : 100%;
    }
} 

@keyframes hide {
    from {
        opacity : 100%;
    }

    to {
        opacity : 0%;
    }
}