:host {
    --AtomEditTopLabel: -20px;
    --AtomEditDownLabel: 10px;
    --AtomEditLeftLabel: 0px;
    --AtomEditBgLabelDown: rgba(0, 0, 0, 0);
    --AtomEditBgLabelUp: rgba(0, 0, 0, 0);
    --AtomEditColorLabelDown: rgb(180, 180, 180);
    --AtomEditColorLabelUp: black;
}

.AtomEditContainer {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(40, 120, 160, 1);
    border-radius: 1em;
    height: 40px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.AtomEdit {
    height: 100%;
    width: 100%;
    position: absolute;
    border-width: 0px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Trebuchet MS;
    font-size: 14px;
    color: black;
    border-radius: 1em;

}

.AtomEditLabel {
    height: 16px;
    position: absolute;
    left: var(--AtomEditLeftLabel);
    top: var(--AtomEditDownLabel);
    display: inline-block;
    color: var(--AtomEditColorLabelDown);
    font-family: Segoe UI;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    border-radius: .25em;
    padding-left: 10px;
    padding-right: 10px;
}

.AtomEditContainer:hover {
    cursor: pointer;
    border-color: orange;
}

.AtomEdit:hover {
    cursor: pointer;
}

.AtomEditLabel:hover {
    cursor: pointer;
}

@keyframes animationLabelUp {
    from {
        top: var(--AtomEditDownLabel);
        color: var(--AtomEditColorLabelDown);
        background-color: var(--EditBgLabelDown);
    }
    to {
        top: var(--AtomEditTopLabel);
        color: var(--AtomEditColorLabelUp);
        background-color: var(--AtomEditBgLabelUp);
    }
}

@keyframes animationLabelDown {
    from {
        top: var(--AtomEditTopLabel);
        color: var(--AtomEditColorLabelUp);
        background-color: var(--AtomEditBgLabelUp);
    }
    to {
        top: var(--AtomEditDownLabel);
        color: var(--AtomEditColorLabelDown);
        background-color: var(--AtomEditBgLabelDown);
    }
}