:host {
    --AtomSwRadio: 20px;
}

.AtomSwitch {
    border-radius: 1em;
    background-color: #07742b94;
    width: 50px;
    height: var(--AtomSwRadio);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px;
    opacity: 0.5;
}

.AtomSwitchButton {
    border-radius: 50%;
    position: relative;
    background-color: white;
    width: calc(var(--AtomSwRadio) - 2px);
    height: calc(var(--AtomSwRadio) - 2px);
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 1px;
    left: 0%;
    animation-name: sw_move_off;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes sw_move_on {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - var(--AtomSwRadio));
    }
}

@keyframes sw_move_off {
    from {
        left: calc(100% - var(--AtomSwRadio));
    }
    to {
        left: 0%;
    }
}