.AtomButton {
    display: flex;
    height: 50px;
    padding: 15px;
    line-height: 50px;
    background-color: rgb(8, 143, 136);
    color: white;
    font-family: Trebuchet MS;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 1em;
    transition: 0.1s box-shadow;
}

.AtomButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgba(7, 102, 75, 0.911);
}

.AtomButton:enabled:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    color: orange;
    cursor: pointer;
}

.AtomButton:disabled {
    opacity: 0.3;
}

.AtomButton:enabled {
    opacity: 1;
}